extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/').text-light ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1.text-light.font-righteous The Black Mambo
        p.lead.text-light.font-righteous
          | Full Stack JavaScript GOD

        .portfolio-bio
          p.text-light
            | I have 4 paws for tree-traversal and caching. 
            br
            br
            | What more should I say...
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6.text-light.font-righteous Skills

        ul
          li Express
          li JavaScript
          li Node
          li JQuery
          li GIT 
          li MongoDB
        h6.text-light.font-righteous Contact Info

        ul
          li 000-000-MAMBO
          li thehitlist@mambo.com

        a.button.expanded(href='#') LinkedIn
        a.button.expanded(href='https://github.com/Edward-Perez') GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  