@import url('https://fonts.googleapis.com/css?family=Righteous|Vidaloka&display=swap');


body {
  background: black;
  color: wheat;
}

h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: wheat;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: wheat;
}

.button{
  background-color: wheat;
  color: black;
}

.button:hover{
  background-color: #553620;;
  color: wheat;
}

a{
  color: wheat;
}

a:hover{
  color: #553620;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid 4px black;
  border-radius: 3%;
  box-shadow: 2px 2px 5px rgb(36, 36, 36);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: transparent;
  color: wheat;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: wheat;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: wheat;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #d5a95a;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid wheat;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid wheat;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: wheat;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: wheat;
}

.portfolio-bio{
    line-height: 25px;
}

.error-image {
  background-image: url('../img/error.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.error-button {
  background-color: black;
  opacity: .8;
  margin-bottom: 20px;
  color: wheat;
  font-weight: 300;
}

.error-stack {
  font-size: .6rem;
  margin-top: 25px;
  width: 50%;
  display: flex;
  float: right; 
  color: black;
}

.wheat-border {
  border-color: wheat;
  border-radius: 2%;
}

.wheat-borderbar {
  border-right: 1px solid wheat;
}

.black-border {
  border: solid 4px black;
  border-radius: 10%;
}

.font-righteous {
  font-family: 'Righteous', cursive;
}

.font-vidaloka {
  font-family: 'Vidaloka', serif;
}

.wheat-shadow {
  box-shadow: 1px 1px 12px 1px wheat;
}

.black-shadow {
  border-radius: 1%;
  box-shadow: 2px 2px 5px rgb(36, 36, 36);
}

.black-text-shadow {
  text-shadow: 1px 1px 2px rgb(173, 157, 125); ; 
}

.wheat-text-shadow {
  text-shadow: 1.5px 1.5px 3px rgb(129, 95, 25); 
}

.project:hover {
  box-shadow: 1px 1px 5px 3px rgb(255, 255, 255);
}